.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--left {
  display: flex;
  align-items: center;
  /* background-color: orangered; */
}

.header__search {
  width: 65%;
  margin-left: auto;
}
